<div class="recommend_items">
    <h2 class="title_recommend"><span>Nos recommandations</span></h2>
    <ul class="list_recommend_items">
        <li class="item_recommend"  *ngFor="let produit of produitList">
            <div class="item_recommend_img">
                <img class="item_img" [src]="produit.url">
           </div>  
            <h5>{{produit.nom}}</h5>
            <p style="color:#546a2a">{{produit.prix}}0 €</p>
            <button class="btn_item" (click)="goToProduit(produit)">Découvrir</button>
        </li>
    </ul>
</div>