<div class="Grid_valide">
    <app-menu></app-menu>
    <div class="Row2_valide">
        <div class="slogan">
            <div>
                <img src="https://cdn.icon-icons.com/icons2/1506/PNG/512/emblemok_103757.png" class="img_ok">
                <p style="font-size:30px; font-weight:bolder">Merci pour votre paiement !</p>
            </div>
            
            <p>Bonjour <span style="font-weight:bolder">{{commande.addr_livraison.nom}}, </span></p>
            <ul class="list_items_resume">
                <li class="item_resume" *ngFor="let panierItem of commande.panier" style="border-bottom: 1px solid #546a2a">
                    <div style="color :#546a2a; font-weight : bolder">
                        <img [src]="panierItem.urlProduit" style="object-fit:cover; width:60%">
                        <p >{{panierItem.nomProduit}}</p>
                        <p>x{{panierItem.qteProduit}}</p>
                    </div>
                </li>
            </ul>
            <p style="color:rgb(125, 125, 125)">Si un des articles du renvoi est manquant ou endomagé, nous nous réservons le droit de ne pas vous rembourser.</p>
            <p style="color:rgb(125, 125, 125)">Nous aimerions en savoir plus sur votre expérience en matière de paiement. Comment s'est déroulée cette expérience de paiement ? <br>Merci de nous faire part de vos commentaires pour nous aider à nous améliorer.</p>
            <p>Cordialement,</p>
            <p >Votre équipe Teashop.</p>
        </div>


     </div>
     <app-footer></app-footer>
</div>