 <div class="Row1">
    <div class="teashop_brande_menu">
        <div class="block_logo">
            <p class="shop_logo"><i class='bx bxs-leaf'></i></p>
            <p class="shop_name">TeaShop</p>    
        </div>
        <div class="block_search">
            <div class="block_search_inner">
                <label><i class='bx bx-search-alt-2'></i></label>
                <input type="text" class="event_search" placeholder="Search"/>
                <label><i class='bx bx-store'></i></label>
            </div>
        </div>
        <div class="block_user">
            <div class="user" style="text-align:center">
                <p><i class='bx bxs-user'></i> {{utilisateur.nom +" "+ utilisateur.prenom}}</p>
            </div>
        </div>
    </div>
    <div class="teashop_sub_menu">
        <ul class="block_menu">
            <li class="menu_item">
                <a routerLink='/home' [queryParams]="{uid : uid}">Accueil</a>
            </li>
            <li class="menu_item">
                <a routerLink='/shop'  [queryParams]="{uid : uid}">Magasin</a>
            </li>
            <li class="menu_item">
                <a routerLink='/login' [queryParams]="{uid : uid}">Mon Compte</a>
            </li>
            <li class="menu_item">
                <a routerLink='/cart' [queryParams]="{uid : uid}">Panier</a>
            </li>
        </ul>
    </div>
</div>