div.Row1
{
    display:grid;
    grid-template-columns:3fr 6fr 3fr;
    grid-column-gap: 20px;
    font-family:'Comic Sans MS', cursive;
    display: flex;
    flex-direction: column;
}

/* CSS de menu */
div.teashop_brande_menu
{
    display:grid;
    grid-template-columns:3fr 6fr 3fr;
    grid-column-gap: 20px;
    font-family:'Comic Sans MS', cursive;
}

ul.block_menu
{
    display:flex;
    list-style-type:none;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

 div.block_logo
{
    padding-left: 20%;
    display: flex;
    align-items: center;
}

div.teashop_sub_menu
{
    background-color: #9cad7d;

}

/* Moteur de recherche*/

div.block_search
{
    display: flex;
    align-items: center;
}

div.block_search_inner
{
    padding:0 20px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    height: 50%;
    width: 50%;
    border: 1px solid grey;
    border-radius: 20px;
    width: 70%;
    margin:0 12.5% ;
}

input.event_search
{
    border: none;
    border-right: 1px solid black;
    width: 60%;
    height: 70%;

}

/* Information de l'utilisateur (Mon compte + Mon panier)*/
div.block_user
{
    width: 65%;
}
i.bxs-user,i.bxs-shopping-bag
{
    transform: translateY(2px);
}

/* Logo et Nom du magasin */
p.shop_name
{
    font-weight: bolder;
    transform: translateY(-2px);
    font-size: 20px;
}
p.shop_logo{
    color: rgb(128, 177, 55);
    font-size: 20px;
}

li.menu_item a{
    text-decoration: unset;
    color: white;
} 

/* Mobile: width < 740 */
@media only screen and (max-width:739px)
{
    div.block_user
    {
        width: 100%;
    }
}

/* Tablet: width >=740px and width < 1024 px */
@media only screen and (min-width:740px) and (max-width:1023px)
{

}

/* PC: width >= 1024px */
@media only screen and (min-width:1024px)
{

}