<div [class]="width_shop" (click)="changeTaillePanier()">
    <div class="cart_shop_inner">
        <p style="height:100%;margin:unset">Votre Panier <span><i class="bx bx-cart" style="transform:translateY(1px);"></i></span></p>
    </div>
    <div [class]="height_shop">
        <ul class="list_item_cart"> 
            <li *ngFor="let panierItem of panier">
                    <p>{{panierItem.nomProduit}}</p>
                    <p>x {{panierItem.qteProduit}}</p>
                    <p>{{panierItem.qteProduit * panierItem.prixProduit}} €</p>
            </li>
        </ul>
    </div>
</div>
