<div class="footer">
    <div style="background-color: #b7cb91;height: 50%;">
        <ul class="footer_option">
            <li class="footer_option_item">
                <p class="footer_option_icon"><i class='bx bxs-lock'></i></p>
                <p>Paiement Sécurité</p> 
            </li>
            <li class="footer_option_item">
                <p class="footer_option_icon"><i class='bx bxs-leaf' ></i></p>
                <p>Grarantie Qualité</p>
            </li>
            <li class="footer_option_item">
                <p class="footer_option_icon"><i class='bx bxs-store' ></i></p>
                <p>Click/Collect Gratruit</p>
            </li>
            <li class="footer_option_item">
                <p class="footer_option_icon"><i class='bx bxs-phone-call' ></i></p>
                <p>Service Client</p>
            </li>
        </ul>
    </div>
    <div class="footer_socialnetwork" style="border-bottom:2px solid rgb(132, 177, 143);height:40%">
        <p style="text-align:center">SUIVEZ-VOUS</p>
        <ul class="list_socialnetwork">
            <li><i class='bx bxl-facebook'></i></li>
            <li><i class='bx bxl-instagram'></i></li>
            <li><i class='bx bxl-twitter'></i></li>
            <li><i class='bx bxl-linkedin-square'></i></li>
        </ul>
    </div>
    <p style="text-align:center;">Projet CAW - M1 d'informatique - Université de Bourgogne </p>
</div>