div.footer
{
    /* background-color: rgb(132, 177, 143); */
    height: 15em;
    color: #44571f;
}
ul.footer_option{
    display: flex;
    list-style-type: none;
    width: 60%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
   
}

ul.footer_option li{
    line-height: 0.2;
}
p.footer_option_icon{
    text-align: center;
    font-size: 25px;
}
ul.list_socialnetwork
{
    list-style-type: none;
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin:0 auto;
    font-size: 25px;
}

/* Mobile: width < 740 */
@media only screen and (max-width:739px)
{
    ul.footer_option
    {
        width: 85%;
        padding: unset;
        font-size:12px;
    }

}

/* Tablet: width >=740px and width < 1024 px */
@media only screen and (min-width:740px) and (max-width:1023px)
{
    ul.footer_option
    {
        width: 80%;
        padding: unset;
        
    }

}

/* PC: width >= 1024px */
@media only screen and (min-width:1024px)
{

}