
<div class="body">
    <div class="Grid_Home">
        <div class="Row2_Home">
            <div class="row2_inner">
                <p style="color:rgb(247, 218, 175)">GreenTea</p>
                <p class="bolder_title_row2">Enjoy Your<br>Moring Tea.</p>
                <p class="slogan_row2">"Donner une vie une tasse de thé. Soyons cool"</p>
                <button class="row2_btn" routerLink="/shop">Shop now</button>
            </div>
            <div class="Row2_image">
                <img class="row2_image" src="https://images.unsplash.com/photo-1567922045116-2a00fae2ed03?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80">
            </div>
        </div>
    
   
        <div class="Row3_Home">
            <div class="row3_image">
                <img class="row3_image" src="https://images.unsplash.com/photo-1523906630133-f6934a1ab2b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=927&q=80">
            </div>
            <div class="row3_inner">
                <p style="color:rgb(247, 218, 175)">OUR TEA</p>
                <p class="bolder_title_row3">Choose Your <br>Favorite Tea</p>
                <p class="slogan_row3"> "La sagesse de tout l’univers se trouve dans une tasse de thé." </p>
                <p class="row3_shop" routerLink="/shop">Découvrir <i class='bx bx-right-arrow-alt'></i></p>
            </div>
        </div>

        <div class="Row4_Home">
            <div class="row4_contenue">
                <p class="row4_type"><span style="line-height: 1.1;">LES TYPES DE THE.</span></p>
                <ul class="row4_list_tea">
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-noir.webp">
                        <p>Thé noir</p>
                    </li>
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-vert.webp">
                        <p>Thé vert</p>
                    </li>
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-blanc.webp">
                        <p>Thé blanc</p>
                    </li>
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-matcha.webp">
                        <p>Matcha</p>
                    </li>
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-infusion.webp">
                        <p>Infusions</p>
                    </li>
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-rooibos.webp">
                        <p>Rooibos</p>
                    </li>
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-oolong.webp">
                        <p>OOlong</p>
                    </li>
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-mate.webp">
                        <p>Maté</p>
                    </li>
                    <li class="row4_list_tea_item">
                        <img src="https://www.palaisdesthes.com/media/wysiwyg/home/teacolor/liqueur-puerh.webp">
                        <p>Pu erh</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


