<div class="Grid_produit">
    <app-menu></app-menu>
    <div class="Row2_produit">
        
        <div class="Row2_produit_inner">
            <div class="info_produit">
                <div class="img_produit">
                    <img class="image_pro" [src]="produitObjet.url">
                </div>
                <div class="detail_produit">
                    <div class="title_produit">
                        <h1>{{produitObjet.nom}}</h1>
                        <p class="tea_color">{{produitObjet.type}}</p>
                    </div>

                    <div class="poid_produit">
                        <p style="border:3px solid rgba(110, 182, 92, 0.791)">150 g</p>
                    </div>  
                    <div class="price_produit">
                        <h3>{{produitObjet.prix}}0 €</h3>
                        <div class="control_produit">
                            <i class='bx bx-minus' (click)="minus_qty()"></i>
                            <p class="qty_produit">{{produitObjet.qte}}</p>
                            <i class='bx bx-plus' (click)="plus_qty()"></i>
                        </div>
                        <p *ngIf="produitObjet.qteStock >0">en stock <i class='bx bx-check'></i></p>
                        <p *ngIf="produitObjet.qteStock <=0" >rupture de stock<i class='bx bx-x'></i></p>
                    </div>
                    <button class="add_produit" (click)="addPanier()">Ajouter dans le panier</button>
                </div>
            </div>
            <div class="additional_attribute">
                <ul class="list_attribute">
                    <li class="attribute_item" style="border-left:1px solid lightgrey">
                        <i class='bx bxs-flask'></i>
                        <p>Dosage</p>
                    </li>
                    <li class="attribute_item">
                        <i class='bx bxs-thermometer' ></i>
                        <p>Température d'infusion</p>
                    </li>
                    <li class="attribute_item">
                        <i class='bx bxs-hourglass' ></i>
                        <p>Temps d'infusion</p>
                    </li>
                    <li class="attribute_item">
                        <i class='bx bxs-sun'></i>
                        <p>Moment de la journée</p>
                    </li>
                </ul>
            </div>
            <div class="description_produit">
                <div>
                    <p class="title">Decription </p>
                    <p class="contenu">{{produitObjet.description}}</p>
                </div>
                <div>
                    <p class="title">Suggestion de préparation : </p>
                    <p class="contenu"><span style="font-weight:bolder">Préparer ce thé chaud : </span><br>

                        Prendre 6 g de feuilles de thé pour 30 cl d'eau et faire chauffer à 80°C. Faire infuser 3 minutes.<br>
                        
                        <span style="font-weight:bolder">Préparer ce thé glacé :</span><br>
                        
                        Prendre 16 g de feuilleeves de thé par litre d’eau à température ambiante, laisser infuser pendant 45 minutes, retirer les feuilles et placer au frais.</p>
                </div>
            </div>
            <app-recommend-produit [typeproduit]="typeProduit"></app-recommend-produit>
        </div>
    </div>
    <app-footer></app-footer>
</div>