<div class="Grid_Cart">
    <div class="Row2_cart">
        <div class="Row2_cart_inner">
            <div>
                <h2 class="title_cart">Votre super panier !!! </h2>
                <hr>
                <div class="block_progess_bar">
                    <ul class="progress_bar">
                        <li class="progress_item progress_active"><span>Panier</span></li>
                        <li class="progress_item"><span>Livraison</span></li>
                        <li class="progress_item"><span>Paiement</span></li>
                    </ul>
                </div>

                
                <div class="cart_contenu">
                    <form class="form_cart" id="" action="" method="">
                        <table>
                            <!--<caption>Les produits dans le panier</caption>-->
                            <thead>
                                <tr>
                                    <th>Produits</th>
                                    <th>Prix</th>
                                    <th>Qté</th>
                                    <th>Sous-prix</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let panierItem of panier, let index = index">
                                    <td class="name_produit">
                                       <img [src]= "panierItem.urlProduit" class="panierItem_url"> 
                                       <div>
                                            <h4>Produit {{index + 1}}</h4>
                                            <p style="text-transform: uppercase">{{panierItem.nomProduit}}</p>
                                       </div>
                                    </td>
                                    <td class="price_produit">{{panierItem.prixProduit}}</td>
                                    <td class="qty_produit">
                                        <input type="number" [value]="panierItem.qteProduit" class="qte_produit" min="1"  (change)="changeQte(panierItem,$event)">
                                    </td>
                                    <td class="subPrice_produit">
                                        <p>{{panierItem.qteProduit * panierItem.prixProduit}} €</p>
                                    </td>
                                    <td><i class='bx bx-trash' (click)="deletePanierItem(index)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </form>
                    <div class="form_pay" >
                        <div class="block_price">
                            <p>Sous-Total : {{prixTotal}} €</p>
                            <p style="font-weight:bolder">Total TTC : {{prixTotal}} €</p>
                        </div>
                        <button class="btn_cart" (click)="saveCommand()">Commander</button>
                        <div class="block_method">
                            <p style="text-align:center"><i class='bx bxs-lock-alt'></i> Paiement 100% sécurisé</p>
                            <div class="method_img">
                                <img class="method_cart"src="https://www.palaisdesthes.com/media/wysiwyg/checkout/cart-secure-payment.png">
                            </div>
                        </div>

                    </div>
                </div>
                <app-recommend-produit [typeproduit]="type" ></app-recommend-produit>
            </div>
        </div>
    </div>
</div>
