<div class="Grid_Cart">
    <app-menu></app-menu>
    <div class="Row2_cart">
        <div class="Row2_cart_inner">
            <div>
                <h2 class="title_cart">Votre super panier !!! </h2>
                <hr>
                <div class="block_progess_bar">
                    <ul class="progress_bar">
                        <li class="progress_item progress_active"><span>Panier</span></li>
                        <li class="progress_item"><span>Livraison</span></li>
                        <li class="progress_item"><span>Paiement</span></li>
                    </ul>
                </div>

                
                <div class="cart_contenu">
                    <form class="form_cart" id="" action="" method="">
                        <table>
                            <!--<caption>Les produits dans le panier</caption>-->
                            <thead>
                                <tr>
                                    <th>Produits</th>
                                    <th>Prix</th>
                                    <th>Qté</th>
                                    <th>Sous-prix</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="name_produit">
                                       <img src="https://www.palaisdesthes.com/media/catalog/product/cache/6fc95b2c6e18bbaf3e6a115228b1bfbc/z/5/z505n22_vue1_v2.jpg.webp"> 
                                       <div>
                                            <h4>Produit 1 </h4>
                                            <p>id_produit</p>
                                       </div>
                                    </td>
                                    <td class="price_produit">26,00 €</td>
                                    <td class="qty_produit">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </td>
                                    <td class="subPrice_produit">
                                        <p>102,00 €</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name_produit">
                                       <img src="https://www.palaisdesthes.com/media/catalog/product/cache/6fc95b2c6e18bbaf3e6a115228b1bfbc/z/5/z505n22_vue1_v2.jpg.webp"> 
                                       <div>
                                            <h4>Produit 1 </h4>
                                            <p>id_produit</p>
                                       </div>
                                    </td>
                                    <td class="price_produit">26,00 €</td>
                                    <td class="qty_produit">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </td>
                                    <td class="subPrice_produit">
                                        <p>102,00 €</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name_produit">
                                       <img src="https://www.palaisdesthes.com/media/catalog/product/cache/6fc95b2c6e18bbaf3e6a115228b1bfbc/z/5/z505n22_vue1_v2.jpg.webp"> 
                                       <div>
                                            <h4>Produit 1 </h4>
                                            <p>id_produit</p>
                                       </div>
                                    </td>
                                    <td class="price_produit">26,00 €</td>
                                    <td class="qty_produit">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </td>
                                    <td class="subPrice_produit">
                                        <p>102,00 €</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name_produit">
                                       <img src="https://www.palaisdesthes.com/media/catalog/product/cache/6fc95b2c6e18bbaf3e6a115228b1bfbc/z/5/z505n22_vue1_v2.jpg.webp"> 
                                       <div>
                                            <h4>Produit 1 </h4>
                                            <p>id_produit</p>
                                       </div>
                                    </td>
                                    <td class="price_produit">26,00 €</td>
                                    <td class="qty_produit">
                                        <select>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                            <option>10</option>
                                        </select>
                                    </td>
                                    <td class="subPrice_produit">
                                        <p>102,00 €</p>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        
                    </form>
                    <div class="form_pay" >
                        <div class="block_price">
                            <p>Sous-Total : 102,00 €</p>
                            <p style="font-weight:bolder">Total TTC : 102,00 €</p>
                        </div>
                        <button class="btn_cart">Commander</button>
                        <div class="block_method">
                            <p style="text-align:center"><i class='bx bxs-lock-alt'></i> Paiement 100% sécurisé</p>
                            <div class="method_img">
                                <img class="method_cart"src="https://www.palaisdesthes.com/media/wysiwyg/checkout/cart-secure-payment.png">
                            </div>
                        </div>
                        <!--
                        <div class="block_service">
                            <p style="text-align:center"><i class='bx bxs-phone' ></i> Service Client</p>
                            <p>09999999999</p>
                            <p>Lundi - Samedi : 7h - 17h</p>
                        </div>
                        -->

                    </div>
                </div>
                <app-recommend-produit></app-recommend-produit>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
