<div class="Grid_Shop">
    <app-menu></app-menu>
    <div class="Row2_shop">
        <div class="Row2_shop_presente">
            <div class="Row2_shop_presente_bg">   
                <div class="Row2_shop_inner">
                    <h1>Thés</h1>
                    <p>Nous vous invitons à déguster le meilleur du thé à travers une sélection exgeante de thés d'orifine exceptionnels et de créations parfumées irrésistibles</p>
                </div>
            </div>
        </div>
        <div class="row2_shop_mini-menu">
            <div class="nb_produit">
                <p>Accueil > Thés</p>
                <p>2000 Produits</p>
            </div>
            <button class="btn_filtre" (click)="changeDisplay()">Filtre <span><i [class]= "icon_plus" style="font-weight:bolder;transform:translateY(0.2px);"></i></span></button>
            <div class="trie_produit">
                <p> <span><i class='bx bx-chevrons-down' style="font-size:20px;transform:translateY(3px)"></i></span>Trier par : </p>
                <select >
                    <option>Pertinence</option>
                    <option>Prix décroissant</option>
                    <option>Prix croissant</option>
                    <option>Best-Seller</option>
                    <option>Nouveautés</option>
                </select>
            </div>
        </div>
    </div>
    <div [class]="class_row_filter">
        <div class="color_tea" >
            <p>Couleur de thé</p>
            <ul class="list_filter">
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Thé Noir</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Thé Vert</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Thé Blanc</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Matcha</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Infuision</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Rooibos</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>OOlong</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Maté</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Matcha</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Pur Erh</label>
                </li>
                
            </ul>
        </div>

        <div class="parfum_tea">
            <p>Parfums</p>
            <ul class="list_filter">
                    <li class="list_filter_item">
                        <input type="checkbox">
                        <label>Nature</label>
                    </li>
                    <li class="list_filter_item">
                        <input type="checkbox">
                        <label>Fruits</label>
                    </li>
                    <li class="list_filter_item">
                        <input type="checkbox">
                        <label>Agruments</label>
                    </li>
                    <li class="list_filter_item">
                        <input type="checkbox">
                        <label>Earl Grey</label>
                    </li>
                    <li class="list_filter_item">
                        <input type="checkbox">
                        <label>Fleurs</label>
                    </li>
                    <li class="list_filter_item">
                        <input type="checkbox">
                        <label>Menthe</label>
                    </li>
                    
                
    
            </ul>

        </div>

        <div class="country_tea">
            <p>Pays d'origine</p>
            <ul class="list_filter">
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Chine</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Japon</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Espagne</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Italy</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>Pay-Bas</label>
                </li>
                <li class="list_filter_item">
                    <input type="checkbox">
                    <label>France</label>
                </li>
            </ul>

        </div>

    </div>
    <div class="Row3_shop">
        <div class="Row3_shop_produit">
            <div class="Row3_shop_produit_item">
                <img class="produit_img" src="https://www.palaisdesthes.com/media/catalog/product/cache/d68f0350dd21afbb7f381fb835e279db/2/2/2251.jpg">
                <p class="produit_name">Ye Sheng Hong Cha</p>
                <p class="produit_couleur">Thé noir du YUNAN , Chine</p>
                <p class="produit_desc">Un Grand Cru aux  gourmand aux notes de chocolat, de vanille, d'amandes et de fruits.</p>
                <div class="panier_produit">
                    <div class="produit_prix">
                        <div style="display: flex;align-items:center;width:30%;justify-content:space-between">
                            <i class='bx bx-minus' ></i>
                            <p style="border:1px solid black;width:30px">0</p>
                            <i class='bx bx-plus' ></i>
                        </div>
                        <p>15.00 €</p>
                    </div>
                    <button class="ajoute_panier">AJOUTER AU PANIER</button>
                </div>
            </div>
            <div class="Row3_shop_produit_item">
                <img class="produit_img" src="https://www.palaisdesthes.com/media/catalog/product/cache/d68f0350dd21afbb7f381fb835e279db/2/2/2251.jpg">
                <p class="produit_name">Ye Sheng Hong Cha</p>
                <p class="produit_couleur">Thé noir du YUNAN , Chine</p>
                <p class="produit_desc">Un Grand Cru aux  gourmand aux notes de chocolat, de vanille, d'amandes et de fruits.</p>
                <div class="panier_produit">
                    <div class="produit_prix">
                        <div style="display: flex;align-items:center;width:30%;justify-content:space-between">
                            <i class='bx bx-minus' ></i>
                            <p style="border:1px solid black;width:30px">0</p>
                            <i class='bx bx-plus' ></i>
                        </div>
                        <p>15.00 €</p>
                    </div>
                    <button class="ajoute_panier">AJOUTER AU PANIER</button>
                </div>
            </div>
            <div class="Row3_shop_produit_item">
                <img class="produit_img" src="https://www.palaisdesthes.com/media/catalog/product/cache/d68f0350dd21afbb7f381fb835e279db/2/2/2251.jpg">
                <p class="produit_name">Ye Sheng Hong Cha</p>
                <p class="produit_couleur">Thé noir du YUNAN , Chine</p>
                <p class="produit_desc">Un Grand Cru aux  gourmand aux notes de chocolat, de vanille, d'amandes et de fruits.</p>
                <div class="panier_produit">
                    <div class="produit_prix">
                        <div style="display: flex;align-items:center;width:30%;justify-content:space-between">
                            <i class='bx bx-minus' ></i>
                            <p style="border:1px solid black;width:30px">0</p>
                            <i class='bx bx-plus' ></i>
                        </div>
                        <p>15.00 €</p>
                    </div>
                    <button class="ajoute_panier">AJOUTER AU PANIER</button>
                </div>
            </div>
            <div class="Row3_shop_produit_item">
                <img class="produit_img" src="https://www.palaisdesthes.com/media/catalog/product/cache/d68f0350dd21afbb7f381fb835e279db/2/2/2251.jpg">
                <p class="produit_name">Ye Sheng Hong Cha</p>
                <p class="produit_couleur">Thé noir du YUNAN , Chine</p>
                <p class="produit_desc">Un Grand Cru aux  gourmand aux notes de chocolat, de vanille, d'amandes et de fruits.</p>
                <div class="panier_produit">
                    <div class="produit_prix">
                        <div style="display: flex;align-items:center;width:30%;justify-content:space-between">
                            <i class='bx bx-minus' ></i>
                            <p style="border:1px solid black;width:30px">0</p>
                            <i class='bx bx-plus' ></i>
                        </div>
                        <p>15.00 €</p>
                    </div>
                    <button class="ajoute_panier">AJOUTER AU PANIER</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
    <app-cart-shop></app-cart-shop>
</div>
