<div class="Grid_Shop">
    <div class="Row2_shop">
        <div class="Row2_shop_presente">
            <div class="Row2_shop_presente_bg">   
                <div class="Row2_shop_inner">
                    <h1>Thés</h1>
                    <p>Nous vous invitons à déguster le meilleur du thé à travers une sélection exgeante de thés d'orifine exceptionnels et de créations parfumées irrésistibles</p>
                </div>
            </div>
        </div>
        <div class="row2_shop_mini-menu">
            <div class="nb_produit">
                <p>Accueil > Thés</p>
                <p>{{nb_produits}} Produits</p>
            </div>
            <button class="btn_filtre" (click)="changeDisplay()">Filtre <span><i [class]= "icon_plus" style="font-weight:bolder;transform:translateY(0.2px);"></i></span></button>
            <div class="trie_produit">
                <p> <span><i class='bx bx-chevrons-down' style="font-size:20px;transform:translateY(3px)"></i></span>Trier par : </p>
                <select >
                    <option [ngValue]="null" disabled>Select Option</option>
                    <option *ngFor="let option of option_trie" [ngValue]="option" (click)="onChange($event)">{{option}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="admin" *ngIf="utilisateur.role == 'admin'">
        <button class="btn_admin" (click)="admin_add()">Ajoute d'un produit</button>
        <button class="btn_admin" (click)="admin_minus()">Modifie d'un produit</button>
    </div>
    <div [class]="class_row_filter">
        <div class="inner_filter">
            <div class="color_tea" >
                <p>Couleur de thé</p>
                <ul class="list_filter" >
                    <li class="list_filter_item" *ngFor="let type of filter_type">
                        <input [(ngModel)]="typeFilter" type="radio" [value]="type" name="typeFilter">
                        <label>{{type}}</label>
                    </li>
                </ul>
            </div>
            <div class="parfum_tea">
                <p>Parfums</p>
                <ul class="list_filter">
                    <li class="list_filter_item" *ngFor="let parfum of filter_parfum,let index">
                        <input [(ngModel)]="parfumFilter" type="radio"  [value]="parfum" name="parfumFilter" >
                        <label>{{parfum}}</label>
                    </li>    
                </ul>
            </div>
    
            <div class="country_tea">
                <p>Pays d'origine</p>
                <ul class="list_filter">
                    <li class="list_filter_item" *ngFor="let pays of filter_pays">
                        <input [(ngModel)]="paysFilter" type="radio"  [value]="pays"  name="paysFilter">
                        <label>{{pays}}</label>
                    </li>
                </ul>
    
            </div>
        </div>
        <div class="btn_filter">
            <button class="app_filter" (click)="ProduitsFilter()">Appliquer</button>
            <button class="dell_filter" (click)="EffacerFilter()">Effacer</button>
        </div>
 
    </div>
    <div class="Row3_shop" >
        <div class="Row3_shop_produit"> 
            <div class="Row3_shop_produit_item"  *ngFor="let produit of produitList">
                <div class="hidden" *ngIf="produit.qteStock <= 0" style="position : absolute;margin-left:0 auto" ><p style="text-align:center">Le produit n'est plus disponible !</p></div>
                <a [routerLink]="['/produit',produit.id,produit.type]" style="text-decoration:none;color:unset">
                    <img class="produit_img" [src]="produit.url">
                    <p class="produit_name">{{produit.nom}}</p>
                    <p class="produit_couleur">{{produit.titre}}</p>
                    <p class="produit_desc">Un Grand Cru aux  gourmand aux notes de chocolat, de vanille, d'amandes et de fruits.</p>
                </a>
                    <div class="panier_produit">
                        <div class="produit_prix">
                            <div style="display: flex;align-items:center;width:30%;justify-content:space-between">
                                <i class='bx bx-minus' (click)="minus_qty(produit)"></i>
                                <p style="border:1px solid black;width:30px">{{produit.qte}}</p>
                                <i class='bx bx-plus' (click)="plus_qty(produit)"></i>
                            </div>                            
                            <p>{{produit.prix * produit.qte}} €</p>
                        </div>
                        <button class="ajoute_panier" (click)="addPanier(produit)">AJOUTER AU PANIER</button>
                    </div>
                
            </div>
        </div>
    </div>
    <app-cart-shop [panier]="panier"></app-cart-shop>
</div>
