div.Grid_Shop
{
    height:auto;
    font-family:'Comic Sans MS', cursive;
   
}

/* CSS Row2 (Slogan) de la page Shop*/

div.Row2_shop{
    display: flex;
    flex-direction: column;
    height: 14em;
}

div.Row2_shop_presente{
    height: 14em;
    font-family: 'Crimson Text',Georgia,'Times New Roman',Times,serif;
}

div.Row2_shop_presente_bg
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(177, 173, 173, 0.5), rgba(129, 199, 172, 0.5)),url('https://images.unsplash.com/photo-1491497895121-1334fc14d8c9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
    background-position:center; 
    background-repeat: no-repeat;
    background-size: cover;
}

div.Row2_shop_inner
{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin-left: 50%;
    text-align: center;
    align-items: center;
    color: whitesmoke;
}
div.row2_shop_mini-menu{
    padding: 0 5%;
    border-bottom: 1px solid rgb(97, 167, 140);
    display: flex;
    justify-content: space-between;
}
div.nb_produit
{
    display:flex; 
    width:30%;
    justify-content:space-between;
    
}
div.trie_produit
{
    display:flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

div.trie_produit select
{
    height: 50%;
}
button.btn_filtre
{
    position: absolute;
    top:22.3em;
    left: 50%;
    width:10em;
    height: 3em;
    color: white;
    background-color: rgb(97, 167, 140) ;
    transform: translateX(-50%);
    border: none;
    font-weight: bolder;
    font-size: 15px;
}
/*CSS ROW filter*/

div.Row_filter
{
    background-color: #f1f4f0 ;
    margin: unset;
    padding:0 2em;
    justify-content:space-between ;
    color: #546a2a;
    height:15em;
    padding-top:2%;

}
div.Row_filter_display-none
{
    display:none;
}
div.inner_filter{
    display:flex;
    padding:0 2em;
    width: 100%;
}

div.btn_filter
{
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
}

.app_filter,.dell_filter
{
    height: 3em;
    width: 10em;
    background-color:black ;
    border: none;
    color: #f1f4f0;
    font-weight: bolder;
}


ul.list_filter
{
    margin: 0 auto;
    list-style-type:none;
    display:grid;
    justify-content: space-between;
    grid-template-columns:1fr 1fr;
    width: 70%;
    color: black;
}
li.list_filter_item label
{
  margin-left:1em;
  color :rgb(118, 115, 115)
}

div.color_tea,div.parfum_tea,div.country_tea
{
   width:30%;
}
div.color_tea p, div.parfum_tea p, div.country_tea p
{
    text-align:center;
    text-transform: uppercase;
    border-bottom : 1px solid lightgray;
}


/*CSS Row3 (liste des produits) de la page Shop*/

div.Row3_shop
{
    margin-top: 2%;
}
div.Row3_shop_produit
{
    display: grid;
    padding: 2em 10em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;

}
div.Row3_shop_produit_item
{
    border: 1px solid rgb(97, 167, 140);
    padding: 1em 1em;
    height: 23em;
}

div.produit_prix
{
    display: flex;
    justify-content: space-between;
}

p.produit_name
{
    font-family: 'Crimson Text';
    font-size: 17px;
    text-transform: uppercase;
}
p.produit_couleur
{
    font-size: 0.5rem;
    line-height: 1.2rem;
    text-transform: uppercase;
    color: #546a2a;
}
p.produit_desc
{
    font-size: 0.7rem;
    white-space: normal;
}
img.produit_img
{
    height: 30%;
}
button.ajoute_panier
{
    width: 70%;
    height: 3em;
    background-color: rgb(77, 19, 19);
    color: white;
    border: none;
}

button.btn_admin
{
    height: 3em;
    background-color: #e5933b;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}
div.admin{
    padding-top: 2%;
    width:25%;
    display: flex;
    justify-content: space-between;
}
div.hidden
{
}

/* Mobile: width < 740 */
@media only screen and (max-width:739px)
{
    div.Row2_shop_inner
    {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }
    div.Row3_shop_produit
    {
        grid-template-columns: 1fr;
    }
    div.row2_shop_mini-menu
    {
        padding: unset;
        height: 20em;
        align-items: center;
    }
    div.trie_produit
    {
        width: 30%;
        height: 70%;
    }
    div.nb_produit
    {
        width: 30%;
    }
    div.nb_produit p,div.trie_produit p{
        font-size: 12px;
    }
    select{
        width: 60%;
    }
    button.btn_filtre
    {
        top:22.7em;
    }
    li.list_filter_item label
    {
        font-size: 10px;
        padding: unset;
    }
    ul.list_filter
    {
        padding: unset;
        grid-template-columns: 1fr;
    }
    div.color_tea,div.country_tea,div.parfum_tea
    {
        overflow:scroll;
    }
    button.btn_admin
    {
        font-size: 7px;

    }
}

/* Tablet: width >=740px and width < 1024 px */
@media only screen and (min-width:740px) and (max-width:1023px)
{
    div.Row2_shop_inner
    {
        width: 60%;
        margin: 0 auto;
    }
    div.Row3_shop_produit
    {
        grid-template-columns: 1fr 1fr;
    }
    div.nb_produit p,div.trie_produit p{
        font-size: 12px;
    }
    div.trie_produit
    {
        width: 30%;
    }
    button.btn_filtre
    {
        top:22.7em;
    }
    li.list_filter_item label
    {
        font-size: 10px;
    }
    button.btn_admin
    {
        font-size: 10px;

    }
}

/* PC: width >= 1024px */
@media only screen and (min-width:1024px)
{
    div.Row2_shop_inner
    {
        width: 40%;
        margin-left:50%;
    }
    li.list_filter_item label
    {
        font-size: 12px;
    }

}

