<div  class="Grid_delyvery">
    <div class="Row2_delyvery">
        <div class="Row2_delyvery_inner">
            <div class="block_progess_bar">
                <ul class="progress_bar">
                    <li class="progress_item progress_active"><span>Panier</span></li>
                    <li class="progress_item progress_active"><span>Livraison</span></li>
                    <li class="progress_item"><span>Paiement</span></li>
                </ul>
            </div>

            <div class="form_delyvery">
                <div class="template_form">
                    <p class="form_title">Adress de livraison</p>
                    <h3 style="font-weight:bolder">Utiliser l'adresse de livraison par défaut : </h3>
                    <form class="delevery">
                        <div class="user_info">
                            <label>Prénom : </label>
                            <input type="text"name ="nom" [(ngModel)]="nom">
                        </div>
                        <div class="user_info">
                            <label>Nom : </label>
                            <input type="text" name ="prenom" [(ngModel)]="prenom">
                        </div>
                        <div class="user_info">
                            <label>Pays : </label>
                            <input type="text" name ="pays" [(ngModel)]="pays">
                        </div>
                        <div class="user_info">
                            <label>Code postal : </label>
                            <input type="text" name ="code_postal" [(ngModel)]="code_postal">
                        </div>
                        <div class="user_info">
                            <label>Ville : </label>
                            <input type="text" name ="ville" [(ngModel)]="ville">
                        </div>
                        <div class="user_info">
                            <label>Adresse : </label>
                            <input type="text" name ="adress" [(ngModel)]="adress">
                        </div>
                        <div class="user_info">
                            <label>Complément d'adresse ou entreprise : </label>
                            <input type="text">
                        </div>
                        <div class="user_info">
                            <label>Numéro de télephone : </label>
                            <input type="text" name ="telephone" [(ngModel)]="telephone">
                        </div>
                       
                    </form>
                </div>

                <div class="template_resume">
                    <p class="form_title">Résumé</p>
                    <div class='price_template'>
                        <p class="color_gris">Sub-Total : {{prixTotal}} €</p>
                        <p class="color_gris">Dont taxe : 1,36 €</p>
                        <p class="border_text">Total Panier : {{prixTotal}}€</p>
                    </div>
                    
                    <div class="items_template">
                        <p class="border_text">{{nbProduits}} articles dans le panier <i class='bx bx-chevron-down' ></i></p>
                        <ul class="list_items_resume">
                            <li class="item_resume" *ngFor="let panierItem of panier" style="border-bottom: 1px solid #546a2a">
                                <div style="color :#546a2a; font-weight : bolder">
                                    <img [src]="panierItem.urlProduit" style="object-fit:cover; width:60%">
                                    <p >{{panierItem.nomProduit}}</p>
                                    <p>x{{panierItem.qteProduit}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                </div>
            </div>
            <button class="btn_valdie_info" (click)="validerCommande()"> Valider des informations de livraison</button>
        </div>
        
    </div>
</div>